button.submit-btn{
  background: $white;
  color: $primary;
  margin-top: 10px;
  border: 2px solid $primary;
  border-radius: 7px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
  &:hover{
    background: $primary;
    color: $white;
    border: 2px solid $white;
  }
}
button.theme-btn{
  width: 120px;
  background: $white;
  color: $primary;
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
  margin: 7px 7px; 
  cursor: pointer;
  font-size: 20px;
  &:hover{
    background: $primary;
    color: $white;
  }
}
button.questions-list-btn{
  width: 95%;
  height: 80px;
  font-size: 30px;
  margin: 40px auto 0;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background: $white;
  color: $primary;
  &:hover{
    background: $primary;
    color: $white;
  }
}
button.add-question-btn{
  margin-top: 40px;
  width: 100px;
  background: $grey;
  border: 2px solid $white;
  color: $white;
  padding: 10px;
  border-radius: 7px;
  &:hover{
    border: 2px solid $primary;
    color: $primary;
    cursor: pointer;
  }
}