.questions{
position: relative;
 width: 700px;
  margin: auto;

.next-question-btn{
  display: inline-block;
  position: absolute;
  right: 0;
  color: $white;
  left: auto;
  top: 80px;
  bottom: auto;
  cursor: pointer;
}
}
div.question-card{
  margin: auto;
  width: 400px;
  text-align: center;
  background: $white;
  border-radius: 7px;
  min-height: 160px;
.question-counter{
  text-align: right;
  padding: 5px;
}
.question-text{
 font-size: 30px;
 font-weight: bold;
 padding-top: 20px;
 letter-spacing: 5px;
 color: $secondary
  }
}

div.options{
  width: 400px;
  display: grid; 
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 30px auto 0;
  .option{
    margin: 5px;
    background: $white;
    min-height: 60px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    &:hover{
      cursor: pointer;
      margin: -1px;
      border: 3px solid $primary;
    }

    .option-text{
      color: $primary;
      margin-top: 15px;
      font-weight: 700;
      font-size: 25px;
    }
    .check-icon{
        position: absolute;
        right: 0;
        bottom: 5px;
        font-size: 20px;
    }
  }
}
div.container{
  width: 270px;
  margin: auto;
}
.game-btn-container{
  padding-left: 150px;
}